<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_register</string>
		<key>routeURL</key>
		<string>login/register</string>
	</dict>
    <dict>
        <key>routeMethod</key>
        <string>POST</string>
        <key>routeName</key>
        <string>login_loginIn</string>
        <key>routeURL</key>
        <string>login/login</string>
    </dict>
    <dict>
        <key>routeMethod</key>
        <string>POST</string>
        <key>routeName</key>
        <string>login_regsms</string>
        <key>routeURL</key>
        <string>login/regsms</string>
    </dict>
    <dict>
        <key>routeMethod</key>
        <string>POST</string>
        <key>routeName</key>
        <string>login_forget</string>
        <key>routeURL</key>
        <string>login/forget</string>
    </dict>
    <dict>
        <key>routeMethod</key>
        <string>POST</string>
        <key>routeName</key>
        <string>ad_getad</string>
        <key>routeURL</key>
        <string>ad/getad</string>
    </dict>
    <dict>
        <key>routeMethod</key>
        <string>POST</string>
        <key>routeName</key>
        <string>ad_open</string>
        <key>routeURL</key>
        <string>ad/open</string>
    </dict>
    
</array>
</plist>
