<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_register</string>
		<key>routeURL</key>
		<string>login/register</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_loginIn</string>
		<key>routeURL</key>
		<string>login/login</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_regsms</string>
		<key>routeURL</key>
		<string>login/regsms</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_forget</string>
		<key>routeURL</key>
		<string>login/forget</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>ad_getad</string>
		<key>routeURL</key>
		<string>ad/getad</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personalcenter_index</string>
		<key>routeURL</key>
		<string>personalcenter/index</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personalcenter_detail</string>
		<key>routeURL</key>
		<string>personalcenter/detail</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>personalcenter_modifydetail</string>
		<key>routeURL</key>
		<string>personalcenter/modifydetail</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personalcenter_rank</string>
		<key>routeURL</key>
		<string>personalcenter/rank</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personalcenter_msg</string>
		<key>routeURL</key>
		<string>personalcenter/msg</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personalcenter_msginfo</string>
		<key>routeURL</key>
		<string>personalcenter/msginfo</string>
	</dict>
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>reward_change</string>
         <key>routeURL</key>
         <string>reward/change</string>
     </dict>
     
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>reward_withdraw</string>
         <key>routeURL</key>
         <string>reward/withdraw</string>
     </dict>
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>reward_pointhistory</string>
         <key>routeURL</key>
         <string>reward/pointhistory</string>
     </dict>
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>reward_sign</string>
         <key>routeURL</key>
         <string>reward/sign</string>
     </dict>
     <dict>
         <key>routeMethod</key>
         <string>GET</string>
         <key>routeName</key>
         <string>reward_signhistory</string>
         <key>routeURL</key>
         <string>reward/signhistory</string>
     </dict>
     <dict>
         <key>routeMethod</key>
         <string>GET</string>
         <key>routeName</key>
         <string>reward_index</string>
         <key>routeURL</key>
         <string>reward/index</string>
     </dict>
     
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>ad_forward</string>
         <key>routeURL</key>
         <string>ad/forward</string>
     </dict>
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>ad_open</string>
         <key>routeURL</key>
         <string>ad/open</string>
     </dict>
</array>
</plist>
