<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_register</string>
		<key>routeURL</key>
		<string>login/register</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_loginIn</string>
		<key>routeURL</key>
		<string>login/login</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_regsms</string>
		<key>routeURL</key>
		<string>login/regsms</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>login_forget</string>
		<key>routeURL</key>
		<string>login/forget</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>ad_getad</string>
		<key>routeURL</key>
		<string>ad/getad</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_index</string>
		<key>routeURL</key>
		<string>personal/index</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_detail</string>
		<key>routeURL</key>
		<string>personal/detail</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>personal_modify</string>
		<key>routeURL</key>
		<string>personal/modify</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_rank</string>
		<key>routeURL</key>
		<string>personal/rank</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_msg</string>
		<key>routeURL</key>
		<string>personal/msg</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_msginfo</string>
		<key>routeURL</key>
		<string>personal/msginfo</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>personal_upload</string>
		<key>routeURL</key>
		<string>personal/upload</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>common_province</string>
		<key>routeURL</key>
		<string>common/province</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>common_city</string>
		<key>routeURL</key>
		<string>common/city</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>common_district</string>
		<key>routeURL</key>
		<string>common/district</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>personal_vupload</string>
		<key>routeURL</key>
		<string>personal/vupload</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>personal_verify</string>
		<key>routeURL</key>
		<string>personal/verify</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>personal_vstatus</string>
		<key>routeURL</key>
		<string>personal/vstatus</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>reward_withdraw</string>
		<key>routeURL</key>
		<string>reward/withdraw</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>reward_moneyhistory</string>
		<key>routeURL</key>
		<string>reward/moneyhistory</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>reward_change</string>
		<key>routeURL</key>
		<string>reward/change</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>reward_withdraw</string>
		<key>routeURL</key>
		<string>reward/withdraw</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>reward_pointhistory</string>
		<key>routeURL</key>
		<string>reward/pointhistory</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>reward_sign</string>
		<key>routeURL</key>
		<string>reward/sign</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>reward_signhistory</string>
		<key>routeURL</key>
		<string>reward/signhistory</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>GET</string>
		<key>routeName</key>
		<string>reward_index</string>
		<key>routeURL</key>
		<string>reward/index</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>ad_forward</string>
		<key>routeURL</key>
		<string>ad/forward</string>
	</dict>
	<dict>
		<key>routeMethod</key>
		<string>POST</string>
		<key>routeName</key>
		<string>ad_open</string>
		<key>routeURL</key>
		<string>ad/open</string>
	</dict>
     <dict>
         <key>routeMethod</key>
         <string>POST</string>
         <key>routeName</key>
         <string>personal_upload</string>
         <key>routeURL</key>
         <string>personal/upload</string>
     </dict>
</array>
</plist>
